.nfts {
    flex-basis: 33,33%;
    max-width: 33,33%;
    padding: 10px;
}

.nfts img {
    max-width: 100%;
    height: auto;
}

.padre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.hijo {
    justify-content: center;
    border-radius: 20%;
    margin-top: 10px;

}

