footer {
    margin: auto;
    margin-top: 0;
    background-color: wheat;
}

.indexfooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: auto;
        margin-top: 0;
        background-color: wheat;
}

.social {
    display: flex;
    justify-content: center;
}

.social img {
    margin-left: 15px;
    margin-right: 15px;
}
