nav{
    margin: 10px;

}

header {
    display: flex;
    justify-content: center;
    background-color: azure;
    ul li {
        display: inline-flex;
        list-style-type: none;
        li {
        font-family: Roboto, sans-serif;
        border-right: 1px solid #bbb;
        padding: 20px;
        }
        }
}

.nav-item{
    font-style: bold;
}

.nav-link:hover {
    color: #fff; 
    background-color: #ddecfc; 
    transition: all 0.3s ease-in-out;
}